{% extends 'staffindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="search_college#about">
  <table class="table table striped">
      <tr><td></td>
      <td align="right"><b>Name</b></td>
      <td>
          <input type="text" name="textfield" class="form-control" value="{{ nm }}"/></td><td>
     <input type="submit" name="Submit" value="Search" class="btn btn-warning"/></td>
      <td align="left"><label>

      </label></td><td></td><td></td>
    </tr>

    <tr class="table table-dark">
        <td align="center"><b>Sl no </b></td>
      <td align="center"><b>Name</b></td>
      <td align="center"><b>Address</b></td>
      <td align="center"><b>Phone</b></td>
      <td align="center"><b>Email</b></td>
      <td align="center">&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td align="center">{{ forloop.counter}}</td>
      <td align="center"><img src="./media/{{ i.image }}" alt="" width="100" height="100" id="f" /><br>{{ i.name }}</td>
      <td align="center">{{ i.place }}<br>{{ i.post }}<br>{{ i.pin }}</td>
      <td align="center">{{ i.phone }}</td>
      <td align="center">{{ i.email }}</td>
      <td align="center"><a href="/edit_college/{{ i.id }}#about" class="btn btn-success">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a><p></p>
          <a href="delete_college/{{ i.id }}" class="btn btn-danger">Delete</a></td>

    </tr>
      {% endfor %}

    <tr>
    </tr>
    <tr>
      <td colspan="6" align="center"><div  ><a href="/add_college#about" class="btn btn-info">Add</a></div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
