{% extends 'staffindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/search_course#about">
  <table class="table table striped">
    <tr>
      <td colspan="2" align="right"><b>
            College</b></td><td>

        <input type="text" name="textfield" value="{{ nm }}" class="form-control"/>
       </td>
            <td>
        <input type="submit" name="Submit" value="Search" class="btn btn-warning"/>
      </td>
        <td colspan="3"></td>
    </tr>
    <tr class="table table-dark">
        <td align="center"><b>SL No </b></td>
      <td align="center"><b>Name</b></td>
      <td align="center"><b>College</b></td>
      <td align="center"><b>Details</b></td>
      <td align="center"><b>Area</b></td>
      <td align="center"><b>Date</b></td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
        {% for i in val %}
      <td align="center">{{ forloop.counter}}</td>
      <td align="center">{{ i.name }}</td>
      <td align="center">{{ i.COLLEGE.name }}</td>
      <td align="center">{{ i.details }}</td>
      <td align="center">{{ i.area }}</td>
      <td align="center">{{ i.date }}&nbsp;</td>
      <td align="center"><a href="edit_course/{{ i.id }}#about" class="btn btn-success">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a><br><br>
      <a href="/delete_course/{{ i.id }}" class="btn btn-danger">Delete</a></td>
    </tr>
            {% endfor %}


    <tr>
      <td colspan="7"><div align="center"><a href="/add_course#about" class="btn btn-info">Add</a></div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
