{% extends 'staffindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/search_enquiry#about">
  <table class="table table striped">
    <tr><td></td>
        <td align="right"><b>Date</b> </td><td>

        <input type="date" name="textfield" class="form-control" value="{{ dt }}" required/>
          </td><td align="left">    <label>
        <input type="submit" name="Submit" value="Search" class="btn btn-warning"/>
              </label></td><td></td>
    <tr class="table table-dark">
    <tr class="table table-dark">
        <td align="center"><b>SL No</b> </td>
      <td align="center"><b>User</b></td>
      <td align="center"><b>Enquiry</b></td>
      <td align="center"><b>Date</b></td>
      <td align="center"><b>Reply</b></td>
    </tr>
    <tr>
        {% for i in val %}
      <td align="center">&nbsp;{{ forloop.counter}}</td>
      <td align="center">{{ i.STUDENT.fname }} {{ i.STUDENT.lname }}</td>
      <td align="center">{{ i.enquiries }}</td>
      <td align="center">&nbsp;{{ i.date }}</td>
       <td align="center">{% if i.reply == 'pending' %}
      <a href="send_replys/{{ i.id }}#about" class="btn btn-link">Reply</a>
        {% else %}{{ i.reply }}
        {% endif %}
        </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
