<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><div align="center"><a href="/college_management">College Management </a></div></td>
    </tr>
    <tr>
      <td height="35"><div align="center"><a href="/course_management">Course Management </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/enquiry">Enquiry</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/staff_view_rating">Rating</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/staff_view_feedback">Feedback</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/add_notification">Add Notification </a></div></td>
    </tr>

    <tr>
      <td><div align="center"><a href="/">Logout</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
