{% extends 'staffindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/search_ratingst#about">
  <table class="table table striped">
    <tr><td></td>
        <td align="right"><b>Date</b> </td><td>

        <input type="date" name="textfield" class="form-control" value="{{ dt }}" required/>
          </td><td align="left">    <label>
        <input type="submit" name="Submit" value="Search" class="btn btn-warning"/>
              </label></td>
    <tr class="table table-dark">

      <td align="center"<b>Sl no</b> </td>
      <td align="center"><b>Student</b></td>
      <td align="center"><b>Rating</b></td>
      <td align="center"><b>Date</b></td>
    </tr>
      {% for i in val %}
    <tr>
      <td align="center">&nbsp;&nbsp;{{ forloop.counter }}</td>
        <td align="center">{{ i.STUDENT.fname}}{{ i.STUDENT.lname}}</td>
      <td align="center">{{i.rate}}</td>
      <td align="center">{{ i.date }}</td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}
