{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table striped">
    <tr>
      <td width="28">SL NO </td>
      <td width="31">Name</td>
      <td width="41">Details</td>
      <td width="69">No of vaccancies </td>
      <td width="67">Last Date </td>
    </tr>
      
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
