{% extends 'companyindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/edit_job_action">
 <table class="table table striped">    <tr>
     <td><b>Name</b></td>
      <td><label>
                  <input type="text" name="textfield" value="{{ val.name }}" class="form-control" required/>

{#        <input type="text" name="textfield" />#}
      </label></td>
    </tr>
    <tr>
      <td><b>Details</b></td>
      <td><label>
                  <input type="text" name="textfield2" value="{{ val.details }}" class="form-control" required/>

{#        <input type="text" name="textfield2"  />#}
      </label></td>
    </tr>
    <tr>
      <td><b>Qualification </b></td>
      <td><label>
                  <input type="text" name="textfield4" value="{{ val.qualification }}" class="form-control" required/>

{#        <input type="text" name="textfield4"  />#}
      </label></td>
    </tr>
      <tr>
          <td><b>Last Date</b></td>
      <td><label>
                  <input type="date" name="textfield5" value="{{ date }}"class="form-control" required/>

{#        <input type="date" name="textfield5"  />#}
      </label></td>
    </tr>
    <tr>
        <td><b>No of Vaccancy</b></td>
      <td><label>
                  <input type="text" name="textfield6" value="{{ val.no_of_vaccancy }}" class="form-control" required pattern="[0-9]{1,3}"/>

{#        <input type="text" name="textfield6"  />#}
      </label></td>
    </tr>


    <tr>
      <td colspan="2" align="center"><label>
          <div >
            <input type="submit" name="Submit" value="Update" class="btn btn-info"/>
        </div>
        </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
